body{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.hinhanh_sanpham{
    float: left;
    width: 40%;
}
.chitiet_sanpham{
    float: left;
    width: 50%;
    margin: 10px;
}
.header{
    background-image: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #000;
    height: 200px;
    width: 100%;
    
}
.menu{
    border: 1px solid #ffe6e6;
    height: 50px;
    width: 100%;
    background:lightgreen;
}
ul.listmenu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    width: 60%;
    line-height: 30px
}
ul.listmenu li {
    padding: 0;
    float: left;
    margin: 10px;
}
ul.listmenu li:hover {
    background: lawngreen;
}
ul.listmenu li a {
    text-decoration: none;
    text-align: center;
    color: darkgreen;
}
#main{
    border: 1px solid #b3ecff;
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid #99004d;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 4px;
    float: left;
}
ul.listsanpham {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    line-height: 30px
}
ul.listsanpham li {
    padding: 0;
    margin: 10px;
}
ul.listsanpham li:hover {
    background: lightgrey;
}
ul.listsanpham li a {
    text-decoration: none;
    text-align: left;
    /* text-align: center; */
    color: darkgreen;
    display: block;
}
.maincontent{
    
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li {
    width: 19%;
    border: 1px solid #ddd;
    margin: 30px;
    float: left;
    background: #EEEEEE	;
    height: 250px;
}
ul.product_list li img {
    width: 100%;
    height: 145px;
}
ul.product_list li a {
    text-decoration: none;
}
p.tittle_product {
    color: #000;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
p.price_product {
    text-align: center;
    color: tomato;
    font-size: 16px;
    font-weight: 800;
}
.footer{
    border: 1px solid #a3a375;
    height: 150px;
    width: 100%;
    background: #ac7339;
}
p.footer_text {
    text-align: center;
    font-size: 16px;
    color: black;
}
.clear{
    clear: both;
}
/* css button */
button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
/* 5 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  /* cộng trừ */
  i.fas.fa-plus {
    color: #999999;
    font-size: 15px;
}
i.fas.fa-minus {
    color: #999999;
    font-size: 15px;
}
i.fas.fa-plus:hover {
    color: forestgreen;
}
i.fas.fa-minus:hover {
    color: forestgreen;
}
td a {
    text-decoration: none;
    color:black;
}
td a:hover {
    color: orangered;
}
