.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
ul.admin_menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.admin_menu li {
    float: left;
    margin: 5px;
}
ul.admin_menu li a {
    text-decoration: none;
    color: darkcyan;
}
h3.title_admin {
    text-align: center;
    font-size: 40px;
    color: cornflowerblue;
}
.clear{
    clear: both;
}